.content {
    max-width: 960px;
    margin: auto;
    background: white;
    padding: 10px;
  }
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    
}
.pa{
    color: aliceblue;
    margin-left: 10px;
}
.details{
    display: flex;
    align-items: center;
    gap: 6px;
}
.btn1{
    background: green;
    border: none;
    padding: 24px;
    padding-block: 10px;
    border-radius: 5px;
    
}
.btn2{
    background: green;
    border: none;
    padding: 4px;
    
}
.img{
    width: auto;
}

            /* Main Style */
.list ul{
    display: flex;
    gap: 30px;
    justify-content:space-around;
    border: 2px solid grey;
    
}
.list ul li {
    list-style: none;
    
 
}
.list ul li a {
    text-decoration: none;
    font-size: 11px;
}
.list1{
    color: orange;
}
.list2{
    color: red;
}
.list3{
    color: blueviolet;
}
.list4{
    color:lawngreen ;
}
.list5{
    color: lightcoral;
}
.list6{
    color: lightpink;
}
.list7{
    color: paleturquoise;
}
.list8{
    color: yellow;
}
.list9{
    color: hotpink;
}
.list10{
    color: aqua;
}

            /* news */
.news{
    display: flex;
    gap: 150px;
    background-color: #EFEFEF;
    color: #444444;
    padding: 9px;
    margin-bottom: 17px;
    
}
.p2{
    font-size: 14px;
    color: black;
}
.news_p{
    color: gray;
}
.btn3{
    border: none;
    background-color: gray;
    padding-inline: 15px;
}
.nw{
    display: flex;
}
            /* Notice */
.minister{
    display: flex;
    gap: 124px;
    color: #444444;
    margin-bottom: 20px;
    padding: 20px;
}
.pol{
    background-color: #EFEFEF;
    font-size: 15px
}
.minister2{
    display: flex;
    gap: 90px;
  
    color: #444444;
    margin-bottom: 20px;
}
.vo{
    display: flex;
    align-items: center;
    gap: 150px;
    background-color: #EFEFEF;
}
.qol1{
    
    padding: 70px;
}
.mn{
    color: black;
}
.mini_1{
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 5px;
}
.mini_2{
    background-color: rgb(139, 155, 139);
    color: black;
    font-size: 14px;
    padding: 5px;
}

            /* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.fo_list ul{
    display: flex;
    gap: 15px;
    
    
}
.fo_list ul li {
    list-style: none;
    
 
}
.fo_list ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    
}
.pl{
    font-size: 10px;
}
.pl2{
    font-size: 12px;
}
.hop{
    background-color: #EFEFEF;
}
.lol1{
    display: flex;
    gap: 294px;
    color: #444444;
}
.lol2{
    display: flex;
    gap: 12px;
    color: #444444;
    align-items: center;
}